.disclaimer-premium {
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.disclaimer-premium .text {
    flex-shrink: 0;
    color: #fff;
    margin-top: -13px ;
}

.disclaimer-premium .disclaimer-premium__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 20px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    font-size: 14px;
    font-weight: 600;
}

.disclaimer-premium button {
    width: 100%;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}